<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.ceiroa.controller.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientPersonalInfoServlet</servlet-name>
        <servlet-class>com.ceiroa.controller.ClientPersonalInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>com.ceiroa.controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewClientServlet</servlet-name>
        <servlet-class>com.ceiroa.controller.NewClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitCervicalSpineServlet</servlet-name>
        <servlet-class>com.ceiroa.controller.VisitCervicalSpineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitLowerExtremitiesServlet</servlet-name>
        <servlet-class>com.ceiroa.controller.VisitLowerExtremitiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitLumbarSpineServlet</servlet-name>
        <servlet-class>com.ceiroa.controller.VisitLumbarSpineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitUpperExtremitiesServlet</servlet-name>
        <servlet-class>com.ceiroa.controller.VisitUpperExtremitiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitLogServlet</servlet-name>
        <servlet-class>com.ceiroa.controller.VisitLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageClientsServlet</servlet-name>
        <servlet-class>com.ceiroa.controller.ManageClientsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUsersServlet</servlet-name>
        <servlet-class>com.ceiroa.controller.ManageUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewVisitServlet</servlet-name>
        <servlet-class>com.ceiroa.controller.NewVisitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewUserServlet</servlet-name>
        <servlet-class>com.ceiroa.controller.NewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadsServlet</servlet-name>
        <servlet-class>com.ceiroa.controller.ManageUploadsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.ceiroa.controller.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeMyPsswServlet</servlet-name>
        <servlet-class>com.ceiroa.controller.ChangeMyPsswServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteVisitServlet</servlet-name>
        <servlet-class>com.ceiroa.controller.deleteVisitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteClientServlet</servlet-name>
        <servlet-class>com.ceiroa.controller.deleteClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientPersonalInfoServlet</servlet-name>
        <url-pattern>/personalinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewClientServlet</servlet-name>
        <url-pattern>/newClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitCervicalSpineServlet</servlet-name>
        <url-pattern>/cervicalSpine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitLowerExtremitiesServlet</servlet-name>
        <url-pattern>/lowerExtremities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitLumbarSpineServlet</servlet-name>
        <url-pattern>/lumbarSpine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitUpperExtremitiesServlet</servlet-name>
        <url-pattern>/upperExtremities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitLogServlet</servlet-name>
        <url-pattern>/visits</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageClientsServlet</servlet-name>
        <url-pattern>/manageClients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUsersServlet</servlet-name>
        <url-pattern>/manageUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewVisitServlet</servlet-name>
        <url-pattern>/newVisit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUserServlet</servlet-name>
        <url-pattern>/newUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadsServlet</servlet-name>
        <url-pattern>/manageUploads</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeMyPsswServlet</servlet-name>
        <url-pattern>/changeMyPssw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteVisitServlet</servlet-name>
        <url-pattern>/deleteVisit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteClientServlet</servlet-name>
        <url-pattern>/deleteClient</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>
